{% extends "bootstrap_responsive.html" %}

{% macro form_errors(form, hiddens=True) %}
{%- if form.errors %}
{%- for fieldname, errors in form.errors.items() %}
{%- if (form[fieldname]|bootstrap_is_hidden_field and hiddens) or
       (form[fieldname]|bootstrap_is_hidden_field and hiddens != 'only') %}
{%- for error in errors %}
<p class="error">{{error}}</p>
{%- endfor %}
{%- endif %}
{%- endfor %}
{%- endif %}
{%- endmacro %}

{# Take jquery from local, without asking to google #}
{% block bootstrap_js_bottom %}
<script src="{{ url_for("static", filename="jquery.js") }}"></script>
<script src="{{ url_for("static", filename="add.js") }}"></script>
{% endblock bootstrap_js_bottom %}

{% macro nav_link(endpoint, name) %}
	{%- if endpoint == request.endpoint -%}
	<li class="active"><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
	{%- else -%}
	<li><a href="{{ url_for(endpoint) }}">{{ name }}</a></li>
	{%- endif -%}
{% endmacro %}
{% block body_content %}
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-inner">
		    <div class="container">
			    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
			    </a>
			    <a class="brand" href="{{url_for('home')}}">Tamarradio</a>
			    <div class="nav-collapse">
				    <ul class="nav">
							{{ nav_link('home', 'Home') }}
							{{ nav_link('event_view_all', 'Lista eventi') }}
							{{ nav_link('event_add', 'Aggiungi evento') }}
				    </ul>
			    </div><!--/.nav-collapse -->
		    </div>
	    </div>
    </div>
    {% endblock %}{# navbar #}
    {% block bs_content %}
    {% endblock %}{# bs_content #}
{% endblock %}


